.admin-left {
    float: left;
    margin-top: 80px;
    margin-left: 10%;
    margin-top: 50px;
    margin-right: 20px;
}

.admin-left .menu-bar {

}

.admin-left .menu-bar .menu {
    margin-bottom: 20px;
}

.admin-main {
    float: left;
    margin-top: 40px;
    text-align: center;
    height: 500px;
    width: 60%;
    border-left: 1px outset #00F;
}
.admin-main .search-button{
    float: left;
    width: 60%;
    margin-left:20px;
    margin-bottom: 20px;
}
.admin-main .search-button{
    float: left;
    margin-left:20px;
    margin-bottom: 20px;
}
.admin-main .shop-show{
    text-align: center;
    margin-left: 20px;
}

.admin-main .text-show {
    text-align: center;
    font-size: x-large;
    height: 290px;
    margin-top: 10%;
}

.top-tit {
    width: 1190px;
    height: 20px;
    margin-top: 5%;
    margin-left: 10%;
}
.shop-data{
    width:60%;
    margin-top: 5%;
    margin-left: 20%;
}
.shop-data .row{
    margin-bottom: 10px;
}
.top-tit .text-show {
    text-align: center;
    font-size: x-large;
}